{% extends 'base.html' %}

{% block title %}書籍詳細{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            {{object.title}}
        <div class="card-body">
          <p class="card-text">{{object.text}}</p>
          <div class="border p-4 mb-2">
            {% for review in object.review_set.all %}
            <h3 class="h4">{{ review.title }}</h3>
            <div class="px-2">
                <span>(投稿ユーザー:{{review.user.username}})</span>
                <h6>評価:{{ review.rate }}点</h6>
                <p>{{ review.text }}</p>
            </div>
            </div>
            {% endfor %}
    </div>
          <a href="{% url 'review' object.pk %}" class="btn btn-primary">レビューする</a> 
            <a href="{% url 'list-book' %}" class="btn btn-primary">一覧へ</a> 
            <a href="{% url 'update-book' object.pk %}" class="btn btn-primary">編集する</a>  
            <a href="{% url 'delete-book' object.pk %}" class="btn btn-primary">削除</a>            
        </div>
        <div class="card-footer text-body-secondary">
            {{object.category}}
        </div>
      </div>
{% endblock content %}